theory_diamond_pattern_with_asteriks.exe
Theory/Diamond Patterns/week7_diamond_pattern_no_space.exe
Theory/Chap 4 - Book/4_10_pg229_avg_num_sentenial.exe
Theory/Diamond Patterns/theory_diamond_pattern_with_input.exe
Theory/Diamond Patterns/right_angle_trianlge.exe
Theory/Diamond Patterns/diamond_pattern_with_alphabets.exe
Theory/Diamond Patterns/vertically_flip_right_angle_triangle.exe
Theory/Diamond Patterns/triangle_pyramid.exe
Theory/Chap 4 - Book/4_32_pg233_diamond_with_input.exe
Theory/Diamond Patterns/hollow_diamond.exe
Theory/Chap 4 - Book/4_9_pg228_sum_of_numbers_depending_on_first_input.exe
Theory/1_100_table.exe
Theory/number_square_cube.exe
Theory/multiplication_table_by_input.exe
Theory/number_right_angle_triangle.exe
Theory/mid25_alphabet_diamond.exe
Theory/Mid2025/mid25_alphabet_diamond.exe
Theory/Mid2025/Sec-H Code-A/number_series_pattern.exe
Theory/Mid2025/Sec-H Code-A/number_diamond_pattern.exe
Theory/Mid2025/Sec-H Code-A/class_avg_sentinel.exe
lcm.exe
Lab/Lec 6 - Loops/Nested Loops/right_angled_triangle.exe
Lab/Lec 3 - If Else/IfElse_leap_year.exe
Lab/Lec 6 - Loops/Do While/odd_numbers.exe
Lab/Lec 6 - Loops/Do While/positive_input.exe
Lab/Lec 6 - Loops/Nested Loops/half_diamond.exe
Lab/Lec 6 - Loops/Nested Loops/pattern.exe
Lab/Lec 6 - Loops/Do While/number_reversing.exe
Lab/Lec 6 - Loops/Do While/guessing_random_number.exe
Lab/Lec 6 - Loops/While Loop/1_10_numbers.exe
Lab/Lec 6 - Loops/While Loop/10_1_numbers.exe
Lab/Lec 6 - Loops/While Loop/even_numbers.exe
Lab/Lec 6 - Loops/While Loop/factorial.exe
Lab/Lec 6 - Loops/While Loop/number_reverse.exe
Lab/Lec 6 - Loops/While Loop/odd_numbers.exe
Theory/number_square_cube_horizontally.exe
Theory/Mid2025/sentinal_loop_program.exe
Theory/Chap 4 - Book/decimal_to_binary_converter.exe
Theory/Chap 4 - Book/4_11.exe
Lab/Lec 5 &  6 - Loops/While Loop/odd_numbers.exe
Lab/Lec 5 &  6 - Loops/While Loop/number_reverse.exe
Lab/Lec 5 &  6 - Loops/While Loop/factorial.exe
Lab/Lec 5 &  6 - Loops/While Loop/even_numbers.exe
Lab/Lec 5 &  6 - Loops/While Loop/10_1_numbers.exe
Lab/Lec 5 &  6 - Loops/While Loop/1_10_numbers.exe
Lab/Lec 5 &  6 - Loops/Nested Loops/right_angled_triangle.exe
Lab/Lec 5 &  6 - Loops/Nested Loops/pattern.exe
Lab/Lec 5 &  6 - Loops/Nested Loops/half_diamond.exe
Lab/Lec 5 &  6 - Loops/Do While/positive_input.exe
Lab/Lec 5 &  6 - Loops/Do While/odd_numbers.exe
Lab/Lec 5 &  6 - Loops/Do While/number_reversing.exe
Lab/Lec 5 &  6 - Loops/Do While/guessing_random_number.exe
Lab/Lec 4 - Switch Case/days.exe
Lab/Lec 4 - Switch Case/q4_unit_conversion_calculator.exe
Theory/Arrays/magic_cube.exe
Theory/Strings/pattern.exe
Lab/lec 8/3_insert_element.exe
Lab/lec 8/3_insert_element.exe
Lab/Assignment-1/q1.exe
Lab/Assignment-1/q2.exe
Lab/Assignment-1/q3.exe
Lab/Assignment-1/q4_pattern.exe
Lab/Assignment-1/q5.exe
Lab/Assignment-1/q6.exe
Lab/Assignment-1/q7.exe
Lab/Assignment-1/q8.exe
Lab/Assignment-1/q9.exe
Lab/Assignment-1/q10.exe
Lab/Assignment-1/q11.exe
Lab/Assignment-1/q12.exe
Lab/Assignment-1/q13.exe
Lab/Assignment-1/q14.exe
Lab/Assignment-1/q15.exe
Lab/Assignment-1/q16.exe
Lab/Assignment-1/q17.exe
Lab/Assignment-1/q18.exe
Lab/Assignment-1/q19.exe
Lab/Assignment-1/q20.exe
